<h2>Add your Data and Final Questions</h2>
<p id="question-prompt">
  Great! Now you'll be adding your data to a group spreadsheet and using that spreadsheet to answer questions as teams about the lab. Click <a href="https://docs.google.com/spreadsheets/d/1d28w0Trn2ST-sg7VvIeNZwzBSSth-e3z_-HYmojyKCc/edit?usp=sharing" target="_blank">here</a> to enter values in the spreadsheet.
</p>
<p id="question-prompt">
  When everyone is done and the lab results have been discussed as a class with your instructor, please submit answers from the worksheet as a team <a href="https://goo.gl/forms/d9M8EAgyg5UC1A4z2" target="_blank">here</a>
</p>
