<div class="example-container">
  <form materialize class="example-form" [formGroup]="userInputFG">
    <div class="row">
      <div class="col m1 s1">
        <mat-form-field>
          <input matInput placeholder="Population Size" value="10" required formControlName="popsize">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Number of fragments" value="1" required formControlName="fragNum">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Number of generations" value="10" required formControlName="genNum">
        </mat-form-field>
      </div>
      <div class="col m1 s1">
        <mat-form-field>
          <input matInput placeholder="Allele frequency of green allele" value="0.33" required formControlName="greenAlleleFreq">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Allele frequency of blue allele" value="0.33" required formControlName="blueAlleleFreq">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Allele frequency of magenta allele" value="0.34" required formControlName="magentaAlleleFreq">
        </mat-form-field>
      </div>
      <div class="col m1 s1">
        <button mat-icon-button color="primary" (click)="processForm()">
          <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div id="lizard-display-div" *ngIf="displayLizards">
    <app-lizard-display></app-lizard-display>
  </div>
  <div id="questions-div">
    <div *ngIf="displayQuestions" [appFocus]="focusOnQuestion">
        <app-questions></app-questions>
    </div>
  </div>
</div>
