<div class="example-container">
  <form materialize class="example-form">
    <div class="row">
      <div class="col m1 s1">
        <mat-form-field>
          <input matInput placeholder="Population Size" value="100" required [formControl]="popsize">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Number of fragments" value="1" required [formControl]="fragNum">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Number of generations" value="100" required [formControl]="genNum">
        </mat-form-field>
      </div>
      <div class="col m1 s1">
        <mat-form-field>
          <input matInput placeholder="Allele frequency of green allele" value="0.33" required [formControl]="greenAlleleFreq">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Allele frequency of blue allele" value="0.33" required [formControl]="blueAlleleFreq">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Allele frequency of magenta allele" value="0.34" required [formControl]="magentaAlleleFreq">
        </mat-form-field>
      </div>
      <div class="col m1 s1">
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
