.emphasis-bold{
  font-weight: bold;
}

.mated-pair-actions{
  text-align: center;
}

mat-grid-tile{
  overflow: hidden;
}

mat-card-title{
  text-align: center;
}


canvas{
  border: none !important;
}
