.emphasis-bold{
  font-weight: bold;
}

.mated-pair-actions{
  text-align: center;
}

#style-override mat-grid-tile{
  overflow: hidden;
}

#style-override mat-card-title{
  text-align: center;
}


canvas{
  border: none !important;
}

mat-card-header{
  text-align: center;
}

::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  text-align: center;
  align-content: center;
}
