<h2>Now Your Couples Need Offspring</h2>
<div class="subpopulation" *ngFor="let subpopulation of matedPairSubpopulations; let k=index">
  <h2>Subpopulation {{k+1}}</h2>
  <mat-card *ngFor="let matedPair of subpopulation.getMatedPairs(); let i=index">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>A sacred union of love between <span class="emphasis-bold">{{matedPair.getIndividual1().getOrganismName()}}</span> and <span class="emphasis-bold">{{matedPair.getIndividual2().getOrganismName()}}</span></mat-card-title>
    </mat-card-header>
    <mat-grid-list cols="2" rowHeight="5em">
      <mat-grid-tile>
        <canvas #matingcanvases width="200" height="200" style="border:1px solid #c3c3c3;">
          Your browser does not support the canvas element.
        </canvas>
      </mat-grid-tile>
      <mat-grid-tile>
        <canvas #matingcanvases width="200" height="200" style="border:1px solid #c3c3c3;">
          Your browser does not support the canvas element.
        </canvas>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="5em">
        <mat-grid-tile>
          <h3>
            {{matedPair.getIndividual1().getOrganismName()}}
          </h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <h3>
            {{matedPair.getIndividual2().getOrganismName()}}
          </h3>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="4" rowHeight="5em">
        <mat-grid-tile>
          <h4>
            50% of the gametes are:
          </h4>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>
            {{matedPair.getIndividual1().getGeneByName("spot color").getGenotype().getAllele1()}}
          </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <h4>
            50% of the gametes are:
          </h4>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>
            {{matedPair.getIndividual2().getGeneByName("spot color").getGenotype().getAllele1()}}
          </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <h4>
            50% of the gametes are:
          </h4>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>
            {{matedPair.getIndividual1().getGeneByName("spot color").getGenotype().getAllele2()}}
          </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <h4>
            50% of the gametes are:
          </h4>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>
            {{matedPair.getIndividual2().getGeneByName("spot color").getGenotype().getAllele2()}}
          </p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions class="mated-pair-actions">
      <button mat-raised-button (click)="makeBabies(matedPair.getIndividual1(), matedPair.getIndividual2(), k, matedPair)" [hidden]="matedPair.babiesMaxedOut()">Make a Baby</button>
    </mat-card-actions>
  </mat-card>
</div>
<button (click)="nextStep(stepperMain)" mat-raised-button [hidden]="hideNextButton">Next section</button>
