<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-app-background basic-container">
  <app-population-details-form></app-population-details-form>
  <app-display-table></app-display-table>

</div>
<div class="test-div">
  <mat-card [appMated]="true">
    <mat-card-header>Test</mat-card-header>
    <mat-card-content>
      <h3>Hi!!</h3>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>Test</mat-card-header>
    <mat-card-content>
      <h3>Hi again!!</h3>
    </mat-card-content>
  </mat-card>
</div>
