li {
  list-style: none;
}

mat-card{
    display: inline-block;
    width: fit-content;
    margin: 20px;
    vertical-align: top;
}

.mat-card.no-longer-eligible{
  background-color: #696972;
}

.no-longer-eligible.special-canvas{
  background-color: lightgrey;
}
