<div class="subpopulation" *ngFor="let subpopulation of subpopulations; let j=index">
  <h2>Subpopulation {{j+1}}</h2>
  <mat-card *ngFor="let individual of subpopulation.getIndividuals(); let i=index" [appMated]="individual.matedStatus">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h3>{{individual.getOrganismName()}}</h3></mat-card-title>
      <!-- <mat-card-subtitle>A Draggle</mat-card-subtitle> -->
    </mat-card-header>
    <canvas class="special-canvas" #canvases width="200" height="200" style="border:1px solid #c3c3c3;" [appMated]="individual.matedStatus">
      Your browser does not support the canvas element.
    </canvas>
    <mat-card-content>
      <h3>
        Allele 1
      </h3>
      <p>
        {{individual.getGeneByName("spot color").getGenotype().getAllele1()}}
      </p>
      <h3>
        Allele 2
      </h3>
      <p>
        {{individual.getGeneByName("spot color").getGenotype().getAllele2()}}
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <br>
  <button mat-raised-button color="primary" (click)="pickTwoToMate(j)" class="uniform-length-button" *ngIf="displayMateButton">Designate a Random Pair to Mate
  </button>
  <button matStepperNext mat-raised-button color="primary" (click)="openMatingComponent()" class="uniform-length-button" *ngIf="matingsCompleted">Done
  </button>
</div>
<button matStepperNext mat-raised-button color="primary" class="uniform-length-button" *ngIf="goToQuestions">I'm ready to answer questions about this population
</button>
