<h2>
  {{heading}}
</h2>
<li>Open the spreadsheet <mat-progress-bar mode="indeterminate" id="google-sheet-progress-bar" *ngIf="loading"></mat-progress-bar><a href="{{introGoogleSheetUrl}}" target="_blank" *ngIf="!loading">here</a> to enter allele frequency data as you go</li>
<ul *ngFor="let instruction of instructions">
  <li>{{instruction}}</li>
</ul>
<button matStepperPrevious mat-raised-button color="accent" name="button" class="button-spaced">Previous</button>
<button matStepperNext mat-raised-button color="accent" name="button" class="button-spaced">Next</button>
