@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary-color: #458B00;

body{
  background-color: black;
  font-size: 2em;
  font: karla;
  /* TODO is the above working? */
}

// button{
//   color: $primary-color;
// }

/* .basic-container{
  background-color: black;
} */

mat-horizontal-stepper{
  margin: 4em;
}
